.flex {
    border: 10px solid black;
    width: 500px;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.flex__item {
    padding: 20px;
    background: teal;
    color: white;
    margin: 10px;
}
