.flex {
    border: 10px solid black;
    width: 500px;
    display: flex;
    height: 300px;
    justify-content: center;
}

.flex__item {
    padding: 20px;
    background: teal;
    color: white;
    margin: 10px;
}

.flex__item--last {
    order: -1;
}
